<div class="account__view-title">
  <h1 class="h2">{{ 'customer.addresses.address_list' | t }}</h2>
</div>

<div class="account__view-description">
  <p>{{ 'customer.addresses.description' | t }}</p>
</div>

<div class="account-section">
  <div class="account-section__body">
    {%- section 'account-addresses' -%}
  </div>
</div>