<div class="account__view-title">
  <h1 class="h2">Direct debit details</h1>
</div>

<div class="account-section">
  <div class="account-section__body">
    {%- section 'account-direct-debit' -%}
  </div>
</div>