<div class="account__view-title">
  <h1 class="h2">{{ 'customer.account.title' | t }}</h1>
</div>

<div class="account__view-description">
  <p>{{ 'customer.account.description' | t }}</p>
</div>

{% comment %} NEWS BLOG {% endcomment %}
<div class="account-section">
  <div class="account-section__body">
    {%- section 'account-my-account' -%}
  </div>
</div>