{%- assign main = main -%}
{%- assign aside = aside -%}

<div class="account__view-left">
  <div class="container-fluid">
   {{ main }}
  </div>
</div>

<div class="account__view-right">{{- aside -}}</div>


