<form action="/search" method="get" role="search" class="input-group input-group--horizontal">
  <label for="Search" class="label-hidden">
    {{ 'general.search.placeholder' | t }}
  </label>
  <input type="search"
         name="q"
         id="Search"
         class="site-search__form-input"
         value="{{ search.terms | escape }}"
         placeholder="{{ 'general.search.placeholder' | t }}">
  <button type="submit" class="btn btn-grey-o">
    {% render 'icon' with 'search' %}
    <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
  </button>
</form>