<div rv-show="cart.item_count_display | lt 1" class="text-center">
  <span>You don't have any items in your cart.</span>
</div>

<div rv-each-item="cart.items" 
     class="cart-drawer-item" 
     rv-id="'cart-drawer-item-' | append item.id" 
     rv-hide="item.properties._hidden">

  <div class="cart-drawer-item__image">
    <a rv-href="item.url">
      <img rv-src="item.image | productImageSize '180x'" rv-alt="item.product_title">
    </a>
  </div>

  <div class="cart-drawer-item__details">
    
    <span class="cart-drawer-item__title" rv-text="item.product_title"></span>

    <ul class="cart-drawer-item__properties">
      <li rv-if="item.variant_title" rv-html="item.variant_title | prepend '<span>' | replace ' / ' '</span><span>' | append '</span>'"></li>
      <li rv-each-property="item.propertyArray" rv-class="property.name | handle | prepend 'cart-drawer-item__property cart-drawer-item__property--'">
        <span rv-if="property.name | startsWith '_' | not" rv-hide="property.value | eq ''">
          { property.name }: 
          <span rv-if="property.value | includes 'https://cdn.shopify.com/s' | not">
            { property.value }
          </span>
          <span rv-if="property.value | includes 'https://cdn.shopify.com/s'">
            <a rv-if="property.value | endsWith '.jpg'" data-featherlight rv-href="property.value" target="_blank" rel="noopener noreferrer">View</a>
            <span rv-if="property.value | endsWith '.jpg' | not">Attached</span>
          </span>
        </span>
      </li>
    </ul>

    <div class="cart-drawer-item__adjustments">
      <div class="cart-drawer-item__adjustment">
        <div class="cart-drawer-item__adjustment-title h6">
          No. of cartons:
        </div>
        <div class="cart-drawer-item__adjustment-content">
          <a href="#" rv-data-cart-update="$index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" rv-data-progress-element="'.cart-drawer__total-price, #cart-drawer-item-' | append item.id'">
            {% render 'icon' with 'minus' %}
            <span class="icon-fallback-text">{{ 'cart.general.minus' | t }}</span>
          </a>
          
          <span class="cart-drawer-item__quantity" rv-text="item.quantity" data-loads></span>
          
          <a href="#" rv-data-cart-update="$index | plus 1" rv-data-cart-quantity="item.quantity | plus 1" rv-data-progress-element="'.cart-drawer__total-price, #cart-drawer-item-' | append item.id'">
            {% render 'icon' with 'plus' %}
            <span class="icon-fallback-text">{{ 'cart.general.plus' | t }}</span>
          </a>
          
          {% comment %}<div rv-html="item | price_with_addons | money shop.currency"></div>{% endcomment %}
          

          
        </div>
      </div>
      <div class="cart-drawer-item__adjustment">
        <div class="cart-drawer-item__adjustment-title h6">
          Price:
        </div>
        <div class="cart-drawer-item__adjustments-content">
          <div class="cart-drawer-item__price" rv-html="item | price_with_addons | money shop.currency"></div>
        </div>
      </div>
    </div>

    
    <a href="#" class="cart-drawer-item__remove" rv-data-cart-remove="$index | plus 1" rv-data-progress-element="'.cart-drawer__total-price, #cart-drawer-item-' | append item.id'" data-tippy-content="Remove">
      {% render 'icon' with 'plus' %}
      <span class="icon-fallback-text">{{ 'cart.general.remove' | t }}</span>
    </a>
  </div>

</div>