{%- capture main %}
  <div class="account__view-title">
    <h1 class="h2">{{ 'customer.order.title' | t: name: order.name }}</h2>
  </div>

  {% comment %} ORDER {% endcomment %}
  <div class="account-section">
    <div class="account-section__body">
      {%- include 'account-order-head' -%}
    </div>
  </div>

  {% comment %} ORDER {% endcomment %}
  <div class="account-section">
    <div class="account-section__body">
      {%- include 'account-order-table' -%}
    </div>
  </div>

  {% comment %} ORDER MESSAGE {% endcomment %}
  <div class="account-section">
    <div class="account-section__body">
      {%- section 'account-order-message' -%}
    </div>
  </div>
{% endcapture -%}

{%- include 'account-view' with main: main -%}
