<div class="my-account">
  <div class="account-cards account-cards--inline">
    <div class="account-card account-card--left">
      <div class="account-card__content">
        {%- include 'user-details' -%}
      </div>

    </div>

    <div class="account-card account-card--right">

      <div class="account-card__content">

      </div>

    </div>
  </div>
</div>




















