{% layout none %}
<script type="text/javascript">
  window.location.replace("{{ shop.url }}");
</script>
<div id="ajax-container" style="display: none;">
  {% include 'template-collection' %}
</div>
