{% comment %}
  Custom template for testing styles applied to RTE content.
  Remove before deploying to production/publishing your theme.
{% endcomment %}
{%- section 'header-image' -%}
<div class="container">

  <style>
    /* Styleguide styles */
    .docs-title {
      font-style: italic;
      color: #536edc;
      margin: 1.25em 0 0.5em;
    }
    h2.docs-title {
      border-bottom: 2px solid;
    }
    h4.docs-title {
      border-bottom: 1px solid #dbe1ff;
      padding-bottom: 0.25em;
    }
    hr.docs-hr {
      border-color: #dbe1ff;
      opacity: 0.5;
      margin: 4em 0;
    }
    .animation-stopped, .animation-stopped *, .animation-stopped *::before, .animation-stopped *::after {
      -webkit-animation-play-state: paused !important;
      animation-play-state: paused !important;
    }

    /* Overriding default button error state for example */
    .btn.error > span, .btn.error > .icon, a.btn.error > span, a.btn.error > .icon {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
    }

    @-webkit-keyframes shake{0%,50%{-webkit-transform:translateX(0);transform:translateX(0)}15%,25%,35%,45%,5%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}10%,20%,30%,40%{-webkit-transform:translateX(10px);transform:translateX(10px)}}@keyframes shake{0%,50%{-webkit-transform:translateX(0);transform:translateX(0)}15%,25%,35%,45%,5%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}10%,20%,30%,40%{-webkit-transform:translateX(10px);transform:translateX(10px)}}
  </style>

  <div class="page-width">
    <div class="rte">
      <h1>Kitchen Sink</h1>

      <p>This page is here to show off styles for standard page elements such as typography, form elements, etc.
      <br>These are hard coded in an alternate page template file, named <code>page.styles.liquid</code>.</p>
    </div>

    <h2 class="docs-title">Typography</h2>
        
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <h4 class="docs-title">Headings</h4>
        <h1>Heading one</h1>
        <h2>Heading two</h2>
        <h3>Heading three</h3>
        <h4>Heading four</h4>
        <h5>Heading five</h5>
        <h6>Heading six</h6>

      </div>
      <div class="col-xs-12 col-sm-6 rte">
        
        <h4 class="docs-title">Type styles</h4>
        <ul>
          <li><strong>Strong</strong></li>
          <li><em>Emphasis</em></li>
          <li><a href="#">Inline link</a></li>
          <li><span style="text-decoration: line-through;">Strike</span></li>
          <li><sup>Sup</sup></li>
        </ul>

        <h4 class="docs-title">Blockquotes</h4>
        <blockquote>
          <p>Eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
          <cite>The author of the quote</cite>
        </blockquote>

      </div>
    </div>
    
    <h4 class="docs-title">Rich Text Editor Type</h4>
    <div class="rte">
      
      <h1>RTE heading one</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>

      <h2>RTE heading two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>

      <h3>RTE heading three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>

      <h4>RTE heading four</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>

      <h5>RTE heading five</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>

      <h6>RTE heading six</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis non turpis a rhoncus. Morbi vel euismod felis. Quisque volutpat ipsum dolor. Nulla bibendum dignissim dignissim. Suspendisse et tincidunt orci, convallis accumsan massa. Aliquam aliquet fringilla vehicula. Quisque ultricies metus ut fermentum sollicitudin. Morbi commodo massa eu scelerisque aliquam. Aenean volutpat felis sed mauris mollis condimentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in ligula nec urna pretium eleifend vitae non orci. Curabitur sit amet nisi porta, faucibus velit nec, ultrices nisi. Nullam et lorem rhoncus, dignissim elit id, consequat arcu. Ut eget magna cursus, eleifend elit id, aliquet quam. Phasellus a rutrum purus.</p>
      <p>Suspendisse commodo lacinia lectus quis bibendum. Donec pulvinar pulvinar vulputate. Vivamus eget metus suscipit, tincidunt elit in, posuere ante. Proin pretium massa magna, at dapibus tortor mattis ac. Nunc mauris eros, pulvinar at est in, efficitur lacinia urna. Phasellus tempus eleifend volutpat. Praesent et molestie urna.</p>
    </div>


    <h4 class="docs-title">Lists</h4>

    <div class="row rte">
      <div class="col-xs-12 col-sm-6">
        <table>
          <tbody>
            <tr>
              <td valign="top" style="border: 0 none;">
                <h6><code>ul</code> (default)</h6>
              </td>
              <td valign="top" style="border: 0 none;">
                <ul>
                  <li>One</li>
                  <li>Two</li>
                  <li>Three</li>
                  <li>Four</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td valign="top" style="border: 0 none;">
                <h6>Numeric bullet <code>ol</code> (default)</h6>
              </td>
              <td valign="top" style="border: 0 none;">
                <ol>
                  <li>One</li>
                  <li>Two</li>
                  <li>Three</li>
                  <li>Four</li>
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table>
          <tbody>
            <tr>
              <td valign="top" style="border: 0 none;">
                <h6>Child lists (to match the RTE styles)</h6>
              </td>
              <td valign="top" style="border: 0 none;">
                <ul>
                  <li>One</li>
                  <li>Two</li>
                  <li>Three, with child list
                    <ul>
                      <li>First sub item</li>
                      <li>Second sub item</li>
                      <li>Third sub item, with child list
                        <ul>
                          <li>Third level item</li>
                          <li>Another third level item</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>Four</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr class="docs-hr">

    <h2 class="docs-title">Responsive tables</h2>

    <table class="responsive-table">
      <thead>
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="responsive-table-row">
          <td data-label="Order">#1001</td>
          <td data-label="Date">December 22, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$43.03</td>
        </tr>
        <tr class="responsive-table-row">
          <td data-label="Order">#1002</td>
          <td data-label="Date">December 23, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$44.03</td>
        </tr>
        <tr class="responsive-table-row">
          <td data-label="Order">#1003</td>
          <td data-label="Date">December 24, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$45.03</td>
        </tr>
        <tr class="responsive-table-row">
          <td data-label="Order">#1004</td>
          <td data-label="Date">December 25, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$46.03</td>
        </tr>
        <tr class="responsive-table-row">
          <td data-label="Order">#1005</td>
          <td data-label="Date">December 26, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$47.03</td>
        </tr>
        <tr class="responsive-table-row">
          <td data-label="Order">#1006</td>
          <td data-label="Date">December 27, 2015</td>
          <td data-label="Payment Status">Authorized</td>
          <td data-label="Fulfillment Status">Unfulfilled</td>
          <td data-label="Total">$48.03</td>
        </tr>
      </tbody>
    </table>

    <hr class="docs-hr">

    <h2 class="docs-title">Forms</h2>

    <h4 class="docs-title">Default form elements</h4>

    <form>
      <label for="textHorizontal1">Horizontal Label</label>
      <input type="text" id="textHorizontal1" placeholder="Input 1">
      <label for="textHorizontal2">Horizontal Label 2</label>
      <input type="text" id="textHorizontal2" placeholder="Input 2">

      <select id="selectHorizontal1">
        <option value="0">Select an option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>

      <input type="checkbox" id="checkInline">
      <label for="checkInline" class="inline">Checkbox Label</label>
    </form>

    <h4 class="docs-title">Invisible labels</h4>

    <p>Add a class of <code>label-hidden</code> to a label to visually hide it, while keeping it accessible to screen readers. Use the <code>placeholder</code> attribute as your visible label.</p>
    <p><small><strong>Note:</strong> The <code>placeholder</code> attribute only works in IE10+, so invisible labels are disabled in IE9 and below.</small></p>

    <label for="testInvisibleLabel1" class="label-hidden">First Name</label>
    <input type="text" id="testInvisibleLabel1" name="testInvisibleLabel1" placeholder="First Name">
    <label for="testInvisibleLabel2" class="label-hidden">Last Name</label>
    <input type="text" id="testInvisibleLabel2" name="testInvisibleLabel2" placeholder="Last Name">
    <label for="testInvisibleLabel3" class="label-hidden">Email</label>
    <input type="text" id="testInvisibleLabel3" name="testInvisibleLabel3" placeholder="Email">

    <hr class="docs-hr">

    <h4 class="docs-title">Vertical forms (customer, contact, etc)</h4>
    <p>No styles for this exist in Slate, but are used in most themes. Style elements inside a form/div with class `form-vertical` to see your styles here.</p>
    <p>You cannot add a class directly to most liquid form elements (e.g. <code>{% raw %}{% form 'contact' %}{% endraw %}</code>). Instead, wrap the form in a div with the class <code>.form-vertical</code> to achieve the same effect.</p>

    <form class="form-vertical">
      <label for="text1">Text Field</label>
      <input type="text" id="text1">

      <label for="text2">Placeholder</label>
      <input type="text" id="text2" placeholder="Placeholder text">

      <label for="text3">Disabled Field</label>
      <input type="text" id="text3" disabled="disabled">

      <label for="text4">Label</label>
      <input type="text" id="text4">

      <label for="text5" class="error">Text Field (Error)</label>
      <input type="text" id="text5" class="error" value="Invalid Entry">

      <label for="select1">Select Field</label>
      <select id="select1">
        <option value="0">-- Choose --</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>

      <fieldset>
        <legend>Checkboxes</legend>
        <input type="checkbox" id="check1">
        <label for="check1" class="inline">Checkbox Field</label><br>
        <input type="checkbox" id="check2">
        <label for="check2" class="inline">Checkbox Field</label><br>
        <input type="checkbox" id="check3">
        <label for="check3" class="inline">Checkbox Field</label>
      </fieldset>
      <fieldset>
        <legend>Radios</legend>
        <input type="radio" name="radio" id="radio1">
        <label for="radio1" class="inline">Option1</label><br>
        <input type="radio" name="radio" id="radio2"> <label for="radio2" class="inline">Option1</label><br>
        <input type="radio" name="radio" id="radio3">
        <label for="radio3" class="inline">Option1</label>
      </fieldset>

      <label for="textarea1">Textarea</label>
      <textarea id="textarea1" placeholder="Placeholder text"></textarea>

      <label for="file1">File Field</label>
      <input id="file1" type="file">
    </form>

    <h4 class="docs-title">Notes and form errors</h4>

    <div class="note">This is a standard note</div>
    <div class="note note--success">This is a success message</div>
    <div class="note note--error">
      <p>This is an error message.</p>
      <ul>
        <li>Bullets can offer more insight to the error</li>
      </ul>
    </div>

    <p>Example usage:</p>
    <pre>
      {% raw %}{% if form.posted_successfully? %}{% endraw %}
        &lt;p class="note note--success"&gt;Thanks for submitting the form&lt;/p&gt;
      {% raw %}{% endif %}{% endraw %}

      {% raw %}{% if form.errors %}{% endraw %}
        &lt;div class="note note--error"&gt;
          {% raw %}{{ form.errors | default_errors }}{% endraw %}
        &lt;/div&gt;
      {% raw %}{% endif %}{% endraw %}
    </pre>
    
    <hr class="docs-hr">

    <h2 class="docs-title">Buttons</h2>

    <div class="row rte">
      <div class="col-xs-12 col-md-4">
        <h4 class="docs-title">Primary</h4>

        <p>
          <a href="#" class="btn btn-primary">Normal button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary-o">Outlined button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary-o" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary btn--full">Wide button</a>
        </p>

      </div>

      <div class="col-xs-12 col-md-4">
        <h4 class="docs-title">Secondary</h4>

        <p>
          <a href="#" class="btn btn-secondary">Normal button</a>
        </p>

        <p>
          <a href="#" class="btn btn-secondary-o">Outlined button</a>
        </p>

        <p>
          <a href="#" class="btn btn-secondary" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-secondary-o" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-secondary btn--full">Wide button</a>
        </p>

      </div>

      <div class="col-xs-12 col-md-4">
        <h4 class="docs-title">Tertiary</h4>

        <p>
          <a href="#" class="btn btn-tertiary">Normal button</a>
        </p>

        <p>
          <a href="#" class="btn btn-tertiary-o">Outlined button</a>
        </p>

        <p>
          <a href="#" class="btn btn-tertiary" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-tertiary-o" disabled>Disabled button</a>
        </p>

        <p>
          <a href="#" class="btn btn-tertiary btn--full">Wide button</a>
        </p>

      </div>

      <div class="col-xs-12 col-md-4">
        <h4 class="docs-title">
          Sized
        </h4>

        <p>
          <a href="#" class="btn btn-primary btn--mini">Mini button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary btn--small">Small button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary">Normal button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary btn--large">Large button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary btn--mega">Mega button</a>
        </p>

      </div>


      <div class="col-xs-12 col-md-4 animation-container animation-stopped">
        <h4 class="docs-title">
          Animated
          <button class="btn btn--link btn--small" data-toggle=".animation-container" data-toggle-class="animation-stopped">
            Toggle Animations
          </button>
        </h4>

        <p>
          <a href="#" class="btn loading">Loading button</a>
        </p>

        <p>
          <a href="#" class="btn error">
            <span>Computer Says No</span>
          </a>
        </p>

      </div>


      <div class="col-xs-12 col-md-4">
        <h4 class="docs-title">
          Other
        </h4>

        <p>
          <a href="#" class="btn btn--link">Link button</a>
        </p>

        <p>
          <a href="#" class="btn btn--text">Text button</a>
        </p>

        <p>
          <a href="#" class="btn btn-primary">
            {% render 'icon' with 'cart' %}
            <span>Button with Icon</span>
          </a>
        </p>

      </div>
    </div>

    <hr class="docs-hr">

    <h2 class="docs-title">Miscellaneous elements</h2>

    <h4 class="docs-title">Horizontal Rules</h4>
    <p>There are no default <code>hr</code> styles in Slate, but these are common ones to add.</p>
    <p>Default <code>hr</code></p>
    <hr>

    <p>Invisible <code>hr.hr--clear</code></p>
    <hr class="hr--clear">

    <p>Small <code>hr.hr--small</code></p>
    <hr class="hr--small">

    {% comment %}<hr class="docs-hr">

    <h2 class="docs-title">SVG icons</h2>
    <p>Read more about using, creating, and editing SVG icons in Slate's documentation.</p>

    <h4 class="docs-title">Payment icons</h4>
    <ul class="payment-icons" style="font-size:2rem;">
      <li>{% render 'icon' with 'amazon_payments' %}</li>
      <li>{% render 'icon' with 'american_express' %}</li>
      <li>{% render 'icon' with 'bitcoin' %}</li>
      <li>{% render 'icon' with 'cirrus' %}</li>
      <li>{% render 'icon' with 'dankort' %}</li>
      <li>{% render 'icon' with 'diners_club' %}</li>
      <li>{% render 'icon' with 'discover' %}</li>
      <li>{% render 'icon' with 'dogecoin' %}</li>
      <li>{% render 'icon' with 'dwolla' %}</li>
      <li>{% render 'icon' with 'forbrugsforeningen' %}</li>
      <li>{% render 'icon' with 'interac' %}</li>
      <li>{% render 'icon' with 'jcb' %}</li>
      <li>{% render 'icon' with 'litecoin' %}</li>
      <li>{% render 'icon' with 'maestro' %}</li>
      <li>{% render 'icon' with 'master' %}</li>
      <li>{% render 'icon' with 'paypal' %}</li>
      <li>{% render 'icon' with 'visa' %}</li>
    </ul>

    <h4 class="docs-title">Social icons</h4>
    <ul class="list--inline" style="font-size:2rem;">
      <li>{% render 'icon' with 'facebook' %}</li>
      <li>{% render 'icon' with 'instagram' %}</li>
      <li>{% render 'icon' with 'pinterest' %}</li>
      <li>{% render 'icon' with 'snapchat' %}</li>
      <li>{% render 'icon' with 'tumblr' %}</li>
      <li>{% render 'icon' with 'twitter' %}</li>
      <li>{% render 'icon' with 'vimeo' %}</li>
      <li>{% render 'icon' with 'youtube' %}</li>
    </ul>

    <h4 class="docs-title">General icons</h4>
    <ul class="list--inline" style="font-size:2rem;">
      <li>{% render 'icon' with 'arrow-down' %}</li>
      <li>{% render 'icon' with 'cart' %}</li>
      <li>{% render 'icon' with 'close' %}</li>
      <li>{% render 'icon' with 'hamburger' %}</li>
      <li>{% render 'icon' with 'minus' %}</li>
      <li>{% render 'icon' with 'plus' %}</li>
      <li>{% render 'icon' with 'rss' %}</li>
      <li>{% render 'icon' with 'search' %}</li>
    </ul>{% endcomment %}

    <br />

    <h2 class="docs-title">Sections</h2>
    <p>These may break at times, or not include our latest creations. Talk to a developer to change this.</p>

    <h4 class="docs-title">Slideshow</h4>
    {% section 'slideshow' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Hero</h4>
    {% section 'hero' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Feature Row</h4>
    {% section 'feature-row' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Call To Action</h4>
    {% section 'call-to-action' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Featured Collection</h4>
    {% section 'featured-collection' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Collection List</h4>
    {% section 'collection-list' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Featured Product</h4>
    {% section 'featured-product' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Featured Products</h4>
    {% section 'featured-products' %}
    <hr class="docs-hr">

    <h4 class="docs-title">Latest Blog Posts</h4>
    {% section 'latest-blog-posts' %}
    <hr class="docs-hr">

  </div>
</div>